package layouts

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Air Proxy</title>
			<link href="static/css/styles.css" rel="stylesheet"/>
		</head>
		<body class="bg-white">
			<main id="app">
				{ children... }
			</main>
		</body>
	</html>
}
